# --- Elastic OTLP ---
OTEL_EXPORTER_OTLP_ENDPOINT=
OTEL_EXPORTER_OTLP_HEADERS=
OTEL_RESOURCE_ATTRIBUTES=

DATABASE_URL=postgres://postgres:postgres@localhost:5432/skyward

# --- Debugging purpose only ---
FARES_PER_PARTNER=3000
PARTNER_LATENCY_MS=80
PARTNER_FAIL_RATE=0.03
SHOW_LOADING_TIMER=true
